## Itertools
1. Product 
2. permutations
3. combinations 
4. accumulate 
5. group by 
6. infinite iterator

In [9]:
from itertools import product

In [10]:
a = [1,2]
b = [3,4]

prod = product(a,b)  # cartesan product 
print(list(prod))

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [11]:
b = [3]
prod = product(a,b, repeat=2)

print(list(prod))

[(1, 3, 1, 3), (1, 3, 2, 3), (2, 3, 1, 3), (2, 3, 2, 3)]

In [12]:
from itertools import permutations

In [13]:
a = [1,2,3]
per = permutations(a)
per2 = permutations(a,2)

print(list(per))
print(list(per2))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [14]:
from itertools import combinations, combinations_with_replacement

In [15]:
a = [1,2,3,4]
com = combinations(a,3)
print(list(com))

com2 = combinations_with_replacement(a, 2) # repeats vaules. 
print(list(com2))

[(1, 2, 3), (1, 2, 4), (1, 3, 4), (2, 3, 4)]
[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

In [16]:
from itertools import accumulate
import operator

In [17]:
a = [1,2,3,4]
print(a)
ac = accumulate(a)   # adds cummulatively as it goes down the list.

print(list(ac))

[1, 2, 3, 4]
[1, 3, 6, 10]

In [18]:
print(a)
am = accumulate(a,operator.mul)
print(list(am))

[1, 2, 3, 4]
[1, 2, 6, 24]

In [19]:
print(a)
asub = accumulate(a, operator.sub)
print(list(am))

[1, 2, 3, 4]
[]

In [20]:
b = [4,2,3,1,5]
print(b)
amax = accumulate(b, func=max)
print(list(amax))

[4, 2, 3, 1, 5]
[4, 4, 4, 4, 5]

In [21]:
from itertools import groupby

In [22]:

print(a)
def smaller_than_3(x): 
    return x < 3

gr = groupby(a, key=smaller_than_3)

for key, value in gr: 
    print(key, list(value))

[1, 2, 3, 4]
True [1, 2]
False [3, 4]

In [23]:
persons = [
    {"name": "Tim", "age": 29}, 
    {"name": "Ritesh", "age": 29}, 
    {"name": "Snyder", "age": 33}, 
    {"name": "Henry", "age": 29} 
]

gr = groupby (persons, key=lambda x: x['age'])
for key, value in gr: 
    print(key,list(value))

29 [{'name': 'Tim', 'age': 29}, {'name': 'Ritesh', 'age': 29}]
33 [{'name': 'Snyder', 'age': 33}]
29 [{'name': 'Henry', 'age': 29}]

In [24]:
from itertools import count, cycle, repeat

In [26]:
for x in count(10):    # will create a infinite loop until it is broken by a condition. 
    print(x)
    if x > 15: 
        break

10
11
12
13
14
15
16

In [29]:
c = 0
for x in cycle(a): 
    c += 1
    print(x)
    if c >= 10: 
        break

1
2
3
4
1
2
3
4
1
2

In [34]:
i = 0 
for x in repeat(a, 3): 
    i +=1 
    print(x)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]