In [19]:
mylist = ["banana", "cherry", "apple"]

In [20]:
print(mylist)

['banana', 'cherry', 'apple']

In [21]:
# list allows elements of different data type and duplicate elements 
list2 = [5, "apple", "apple", True]
print(list2)

[5, 'apple', 'apple', True]

In [22]:
print(list2[3])

True

In [13]:
# Loop the list 
for x in list2: 
    print(x)

5
apple
apple
True

In [14]:
# check of an element exists in a list 
if "banana" in mylist: 
    print("yes")
else: 
    print("no")

yes

In [15]:
# check the number of elements in the list 
print(len(mylist))

3

In [16]:
# append an element at the end 
mylist.append("lemon")
print(mylist)

['banana', 'cherry', 'apple', 'lemon']

In [17]:
mylist.insert(0, "pineapple")

In [18]:
print(mylist)

['pineapple', 'banana', 'cherry', 'apple', 'lemon']

In [50]:
item = mylist.pop()
print(item)

lemon

In [51]:
print(mylist)

['pineapple', 'banana', 'cherry', 'apple']

In [52]:
mylist.append("lemon")
print(mylist)

['pineapple', 'banana', 'cherry', 'apple', 'lemon']

In [53]:
mylist.insert(0, "lemon")

In [54]:
print(mylist)

['lemon', 'pineapple', 'banana', 'cherry', 'apple', 'lemon']

In [55]:
# removes the first entry in the list it finds. 
mylist.remove("lemon")
print(mylist)

['pineapple', 'banana', 'cherry', 'apple', 'lemon']

In [56]:
# If you remove an element that is not present you will get an error sp check before delete 
if "cherry1" in mylist: 
    mylist.remove("cherry1")
else: 
    print("cherry1 not in list")

cherry1 not in list

In [ ]:
# reverse the elements 
mylist.reverse()
print(mylist)

['lemon', 'apple', 'cherry', 'banana', 'pineapple']

In [58]:
mylist.sort() # sorts the list in place. 
print(mylist)

['apple', 'banana', 'cherry', 'lemon', 'pineapple']

In [59]:
# if you want to create a new list then use the sorted method 
mylist.reverse()
nlist = sorted(mylist)
print(mylist)

['pineapple', 'lemon', 'cherry', 'banana', 'apple']

In [60]:
print(nlist)

['apple', 'banana', 'cherry', 'lemon', 'pineapple']

In [61]:
# in order to instantiate an array with certian element you can use the * operator 
numlist = [0]*5
print(numlist)

[0, 0, 0, 0, 0]

In [62]:
# append two lists 
numlist2 = [1,2,3,4,5]
nalist = numlist + numlist2 
print(nalist)

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]

## Slicing

In [63]:
mlist = [1,2,3,4,5,6 ,7,8]
print(mlist[1:5])

[2, 3, 4, 5]

In [64]:
print(mlist[:5])

[1, 2, 3, 4, 5]

In [65]:
print(mlist[1:])

[2, 3, 4, 5, 6, 7, 8]

In [68]:
# get every second element in the list from the very beginning 
print(mlist[::2])

[1, 3, 5, 7]

In [69]:
# get every second element starting from the 1 element 
print(mlist[1::2])

[2, 4, 6, 8]

# Copy List

In [74]:
olist = mylist.copy()
print(olist)
# another way to make a copy is by slicing olist = mylist[:]

['pineapple', 'lemon', 'cherry', 'banana', 'apple']

In [75]:
olist.append("guava")
print(olist)

print(mylist)

['pineapple', 'lemon', 'cherry', 'banana', 'apple', 'guava']
['pineapple', 'lemon', 'cherry', 'banana', 'apple']

# List Comprehension

In [ ]:
# list = [exp for x in list]
list_n = [1,2,3,4,5,6]
slist = [x*x for x in list_n]

print(slist)
print(list_n)

[1, 4, 9, 16, 25, 36]
[1, 2, 3, 4, 5, 6]

In [4]:
print("Hello World Ritesh")

Hello World Ritesh

# Key board shortcuts


a - add a cell above the current cell 

b - add a cell below the current cell

c - copy a cell or a bunch of cells 

v - past a cell or a bunch of cells 

x - delete or cut a cell 

dd - delete a cell or bunch of cells 

shift + m = merges selected cells.