In [3]:
import pandas as pd
import numpy as np 
from numpy.random import randn

In [4]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),  index=['A', 'B', 'C', 'D', 'E'],columns=['W', 'X', 'Y', 'Z'])

In [6]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selecting Series from DF

In [7]:
df['W']  # each column is a series

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

In [9]:
df['W']['B']

0.6511179479432686

In [10]:
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

# Part 1

### Creating new Column

In [ ]:
df['NEW'] = df['W'] + df['X']

In [ ]:
df

### Dropping the columns and Rows (use drop())

In [ ]:
df.drop('NEW', axis=1)  # axis=0 means that we are looking at index.

In [ ]:
df # as we did not drop in place so the column was not deleted

In [ ]:
# inplace deletion 
df.drop('NEW', axis=1, inplace=True)
df # this deletes the data from df

In [ ]:
# dropping rows 
df.drop('E', axis=0)

In [ ]:
df

In [ ]:
df.drop('E', inplace=True)

In [ ]:
df

In [ ]:
df.shape

### Accessing column, rows and cells  (loc, iloc)

In [ ]:
# Row (index) is reffered as axis=0 and columns are reffered axis=1

In [ ]:
# selecting multiple rows 
df.loc['A']

In [ ]:
df.loc[['A', 'C']]

In [ ]:
# look up the row by index position 
df.iloc[[2,3]]

In [ ]:
# you can get a cell by loc [x,y] notation - loc[row,column]
df.loc['B','Y']

In [ ]:
df.loc[['A','B'], ['W', 'Y']]

# Part 2 
this section will see conditional selection and more indexing and selections

In [2]:
df

NameError: name 'df' is not defined